# IS 362 - Project 1

## Airline Arrival Delays Analysis

### Loading Data

Data was collected from two airlines (Alaska and Am West) describing arrival delays across five destinations and loaded into a .CSV file. 

The information from the .CSV file was then read into pandas and a DataFrame was created.

In [32]:
# import pandas and numpy
import pandas as pd
import numpy as np

# load data from CSV file into a DataFrame
df = pd.read_csv("delays.csv")
df

   carrier     destination on _time  delayed
0   ALASKA     Los Angeles      497       62
1   ALASKA         Phoenix      221       12
2   ALASKA       San Diego      212       20
3   ALASKA  San Francisco       503      102
4   ALASKA         Seattle    1,841      305
5  AM WEST     Los Angeles      694      117
6  AM WEST         Phoenix    4,840      415
7  AM WEST       San Diego      383       65
8  AM WEST  San Francisco       320      129
9  AM WEST         Seattle      201       61

### Analysis

The Alaska Airlines data was separated and the sum of the arrival delays was calculated.

In [36]:
# copy first 5 rows of DataFrame for Alaska airline data
alaska_copy = df.head().copy()
alaska_copy

# calculate the sum of the delayed column for alaska_delays
alaska_delays = alaska_copy["delayed"].sum()
print("Alaska Airlines arrival delays =", alaska_delays)

Alaska Airlines arrival delays = 501

Then the Am West Airlines data was separated and the sum of the arrival delays was calculated.

In [34]:
# copy last 5 rows of DataFrame for Am West airline data
amwest_copy = df.tail().copy()
amwest_copy

# calculate the sum of the delayed column for  
amwest_delays = amwest_copy["delayed"].sum()
print("Am West Airlines arrival delays =", amwest_delays)

Am West Airlines arrival delays = 787

### Conclusion
The result of the analysis is that the sum of Am West Airlines delays was greater than that of Alaska Airlines delays.

In [35]:
print("Alaska Airlines arrival delays =", alaska_delays)
print("Am West Airlines arrival delays =", amwest_delays)

Alaska Airlines arrival delays = 501
Am West Airlines arrival delays = 787